#include<iostream>
 
using namespace std;
 
int main()
{
   int n = 100, c, first = 0, second = 1, next;
   cout << "First " << n << " terms of Fibonacci series are :- " << endl;
   for ( c = 0 ; c < n ; c++ )
   {
      if ( c <= 1 )
         next = c;
      else
      {
         next = first + second;
         first = second;
         second = next;
      }
      cout << next << endl;
   }
   return 0;
}